/* ============= GLOBAL CSS =============== */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sigmar&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /* MAIN PALETTE COLORS */
  --blue-dark: #15719f;
  --blue-mid: #7bc7dd;
  --blue-light: #b9e7f5;

  --brown-600: hsl(32, 12%, 42%);
  --brown-400: rgb(176, 166, 149);
  --brown-200: rgb(235, 227, 213);
  --brown-100: rgb(243, 238, 234);

  /* GREY */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;

  /* COMMON COLORS */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  --yellow-light: #fff6b4;
  --yellow-dark: #c7a900;

  /* FONT FAMILIES */
  --main-font: "Ubuntu", sans-serif;
  --handwrite-font: "Courgette", cursive;
  --title-font: "Sigmar", sans-serif;

  /* MEASUREMENTS */
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  --border-radius: 0.25rem;
  --letter-spacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --fluid-width: 90vw;
  --nav-height: 6rem;

  /* BOX SHADOW */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  /* DARK MODE */
  --dark-mode-bg-color: #333;
  --dark-mode-text-color: #f0f0f0;
  --dark-mode-bg-secondary-color: #3f3f3f;
  --dark-mode-text-secondary-color: var(--grey-300);

  --background-color: var(--grey-50);
  --text-color: var(--grey-900);
  --background-secondary-color: var(--white);
  --text-secondary-color: var(--grey-500);
}

.dark-theme {
  --text-color: var(--dark-mode-text-color);
  --background-color: var(--dark-mode-bg-color);
  --text-secondary-color: var(--dark-mode-text-secondary-color);
  --background-secondary-color: var(--dark-mode-bg-secondary-color);
}

body {
  background: var(--background-color);
  color: var(--black);
  font-weight: 400;
  line-height: 1;
  flex-grow: 1;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
}

h1 {
  font-size: clamp(2rem, 5vw, 5rem); /* Large heading */
}

h2 {
  font-size: clamp(1.5rem, 3vw, 3rem); /* Medium heading */
}

h3 {
  font-size: clamp(1.25rem, 2.5vw, 2.5rem); /* Small heading */
}

h4 {
  font-size: clamp(1rem, 2vw, 2rem); /* Extra small heading */
}

h5 {
  font-size: clamp(0.875rem, 1.5vw, 1.5rem); /* Tiny heading */
}

.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* BUTTONS */
.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--border-radius);
  letter-spacing: var(--letter-spacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}
.btn-block {
  width: 100%;
}
button:disabled {
  cursor: wait;
}
.danger-btn {
  color: var(--red-dark);
  background: var(--red-light);
}
.danger-btn:hover {
  color: var(--white);
  background: var(--red-dark);
}

/* ALERTS */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--border-radius);
}
.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}

/* TITLE */
.title {
  text-align: center;
}

.title-underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: 1rem;
}

.container {
  width: var(--fluid-width);
  max-width: var(--max-width);
  margin: 0 auto;
}

.c-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  width: min(450px, 100vw);
  height: 100vh;
  margin: 0 auto;
  font-family: var(--main-font);
  flex-direction: column;
  align-items: stretch;
}

main {
  overflow-y: scroll;
  flex-grow: 1;
  background: linear-gradient(to bottom right, #e3f0ff, #fafcff);
  overflow-y: scroll;
}

/* NAVBAR */
.main-footer {
  background-color: var(--blue-dark);
}

.navbar {
  width: 100%;
}

.nav-list__item {
  flex-grow: 1;
}

.nav-btn {
  width: 100%;
  padding: 1.5rem 1rem 1rem 1rem;
  font-size: 2rem;
  box-shadow: none;
  border-radius: 0;
}

.nav-btn:hover,
.nav-btn.active {
  background-color: var(--blue-mid);
}

.nav-btn:hover i,
.nav-btn.active i {
  color: var(--blue-dark);
}

.nav-btn > a {
  color: white;
}
/* Add styles for the search container */
.search-container {
  position: relative;
  max-width: 300px; /* Adjust the width as needed */
  margin: 20px;
}

/* Style for the search input */
#searchInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Style for the search icon */
.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #555;
  cursor: pointer;
}

/* Add some transition for a smoother effect */
.search-container:hover #searchInput {
  border-color: #3498db;
}
